main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.page-header {
  text-decoration: underline;
}

#header {
  display: flex;
  justify-content: space-between;
}

.active {
  color: blue;
  font-weight: bold;
}

.nav-link {
  padding: 10px 20px; /* Adds padding */
  text-decoration: none;
  color: black;
  display: inline-block; /* Essential for padding to work correctly on <a> tags */
}

.nav-link:hover {
  color: blue;
}
